/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.space-walkers {
  font-size: 5rem;
  text-align: center;
  padding: 20px;
}
@media (max-width: 500px) {
  .space-walkers {
    max-width: 100%;
    font-size: 4rem;
  }
}
.space-nav {
  max-width: 500px;
  position: sticky;
  top: 0;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: no-wrap;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
@media (max-width: 500px) {
  .space-nav {
    max-width: 80%;
  }
}
.space-nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #5E6164;
  font-weight: 600;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro .header-img {
  border-radius: 5px;
}
@media (max-width: 500px) {
  .home .intro .header-img {
    width: 100%;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .home .space-images .sky,
  .home .space-images .launch {
    display: none;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    width: 100%;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    flex-direction: column;
    padding: 15px;
    margin-top: 20px;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .home .walk .walk-text h3 {
    margin-top: 10px;
  }
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  border-radius: 5px;
  color: #F1F1F1;
  background: #23293B;
  font-size: 1.8rem;
  padding: 0.5rem 0;
  text-align: center;
  transition-property: background-color, color;
  transition: 0.4s ease-in-out;
  max-width: 30%;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    max-width: 100%;
    padding: 2rem;
  }
}
.home .walk .walk-text .btn:hover {
  background: #F1F1F1;
  color: #23293B;
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    width: 100%;
    order: -1;
    margin: auto;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.contact {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: no-wrap;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  flex-direction: column;
  text-align: left;
  height: 400px;
}
@media (max-width: 500px) {
  .contact {
    max-width: 100vw;
    height: 500px;
  }
}
.contact label {
  font-size: 2rem;
}
.contact input,
.contact textarea {
  padding: 0.8rem;
  border-radius: 5px;
  border: 2px solid #23293B;
  transition: border 0.2s ease-in-out;
  max-width: 100%;
}
.contact input:focus,
.contact textarea:focus {
  border-color: white;
}
