// Navigation code here
.space-walkers {
    font-size: 5rem;
    text-align: center;
    padding: 20px;
}
.space-nav {
    max-width: 500px;
    .flex-container(space-around);
    a {
        font-size: 1.5rem;
        text-decoration: none;
        color: @main-font-color;
        font-weight: 600;
    }
}